body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(243, 243, 243);
    margin: 0;
}

.header {
    background-image: url(image/animatedmicrochip2.gif);
    width: 100%;
    height: 150px;
    position: relative;
}

.card {
    width: 15%;
    text-align: center;
    margin-left: 5%;
    position: relative;
    top: -100px;
}

.photo img {
    width: 100%;
    border-radius: 50%;
}

.navbar {
    background-color: rgb(163, 196, 223);
    border-radius: 25px;
    padding-top: 130px;
    margin-top: -130px;
    z-index: -1;
}

.navbar li {
    list-style-type: none;
    padding: 5px 0;
    font-size: auto;
    z-index: 1;

}

.navbar li:hover {
    transform: scale(1.1);
    color: #0B95DD;
    cursor: pointer;
}

.messenger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.messenger img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.body {
    display: flex;
}

.info {
    margin-left: 20px;
    width: 80%;
}

.info h1,
.info-box h4 {
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #fa0101, #0B95DD);
    -moz-border-image: -moz-linear-gradient(left, #fa0101, #0B95DD);
    -webkit-border-image: -webkit-linear-gradient(left, #fa0101, #0B95DD);
    border-image-slice: 1;
}

.info-box h3 {
    text-decoration: underline;
}

.info-box {
    background-color: white;
    border-radius: 25px;
    margin: 10px 0;
    padding: 5px 10px;
    text-indent: 10px;
}

table {
    width: 100%;
}

thead {
    background: linear-gradient(to right, #fa0101, #0B95DD);
    -moz-border-image: -moz-linear-gradient(left, #fa0101, #0B95DD);
    -webkit-border-image: -webkit-linear-gradient(left, #fa0101, #0B95DD);
    text-align: center;
    font-weight: bold;
}

tbody tr:hover {
    background: rgb(231, 231, 231);
}

.sertificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sertificate img {
    width: 20%;
    margin: 10px 30px;
}

.sertificate img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 55px 0;
    position: relative;
    top: -5px;
}

.scale {
    background-color: rgba(0, 0, 0, 0.842);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal {
    margin: 0 10%;
    text-align: center;
}

#cert1 {
    display: none;
}

#cert1 img {
    width: 40%;
}

#cert2 {
    display: none;
}

#cert2 img {
    width: 70%;
}

.close {
    text-align: right;
    font-size: 30px;
}

.closebtn {
    border: 1px solid black;
    color: black;
    background: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.closebtn:hover {
    border: 1px solid red;
    color: red;
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

.myWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.myWork a{
    width: 50%;
}
.myWork img{
    width: 90%;
    border: 1px solid black;
}
.myWork img:hover{
    transform: scale(1.1);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(#fa0101, #0B95DD);
    -moz-border-image: -moz-linear-gradient(left, #fa0101, #0B95DD);
    -webkit-border-image: -webkit-linear-gradient(left, #fa0101, #0B95DD);
    border-image-slice: 1;
}


/* адаптивность сайта */
@media (max-width:1000px){
    .card {
        position: relative;
        top: -80px;
    }
    .navbar li {
        font-size: 14px;
    }
    .navbar {
        padding-top: 100px;
        margin-top: -100px;
    }
}
@media (max-width:880px){
    .card {
        position: relative;
        top: -70px;
    }
    .navbar li {
        font-size: 12px;
    }
}
@media (max-width:770px){
    .card {
        position: relative;
        top: -60px;
    }
    .navbar li {
        font-size: 10px;
    }
    .navbar {
        padding-top: 80px;
        margin-top: -80px;
    }
}
@media (max-width:620px){
    .card {
        position: relative;
        top: -50px;
    }
    .navbar li {
        font-size: 8px;
    }
}
@media (max-width:500px){
    .card {
        position: relative;
        top: -40px;
    }
    .navbar li {
        font-size: 6px;
    }
    .messenger img{
        width: 70%;
    }
    .navbar {
        padding-top: 50px;
        margin-top: -50px;
    }
}
@media (max-width:450px){
    .card {
        position: relative;
        top: -30px;
    }
    .navbar {
        padding-top: 40px;
        margin-top: -40px;
    }
}
@media (max-width:400px){
    .header {
        width: 100%;
    }
}